In [1]:
import pandas as pd
import polars as pl

In [2]:
data = {
    "name": ["Alice", "Bob", "Charlie", "David"],
    "num_occurrences": [1, 2, None, 3]
}

Assemble the DataFrame in Pandas

In [4]:
# Create a Pandas DataFrame
df_pd = pd.DataFrame(data)
df_pd

      name  num_occurrences
0    Alice              1.0
1      Bob              2.0
2  Charlie              NaN
3    David              3.0

Assemble the DataFrame in Polars

In [5]:
# Create a Polars DataFrame
df_pl = pl.DataFrame(data)
df_pl

shape: (4, 2)
┌─────────┬─────────────────┐
│ name    ┆ num_occurrences │
│ ---     ┆ ---             │
│ str     ┆ i64             │
╞═════════╪═════════════════╡
│ Alice   ┆ 1               │
│ Bob     ┆ 2               │
│ Charlie ┆ null            │
│ David   ┆ 3               │
└─────────┴─────────────────┘

# Key syntax is consistent across both Pandas and Polars

Use of head(), shape and dtypes is identical

In [6]:
# Show the top row of Pandas DataFrame
df_pd.head(1)

    name  num_occurrences
0  Alice              1.0

In [7]:
# Show the top row of Polars DataFrame
df_pl.head(1)

shape: (1, 2)
┌───────┬─────────────────┐
│ name  ┆ num_occurrences │
│ ---   ┆ ---             │
│ str   ┆ i64             │
╞═══════╪═════════════════╡
│ Alice ┆ 1               │
└───────┴─────────────────┘

In [8]:
# Show the shape of a Pandas DataFrame
df_pd.shape

(4, 2)

In [9]:
# Show the shape of a Polars DataFrame
df_pl.shape

(4, 2)

In [10]:
# Show data types of a Pandas DataFrame
df_pd.dtypes

name                object
num_occurrences    float64
dtype: object

In [11]:
# Show data types of a Polars DataFrame
df_pl.dtypes

[String, Int64]

In [15]:
# Use describe() on Pandas DataFrame
df_pd["num_occurrences"].describe()

count    3.0
mean     2.0
std      1.0
min      1.0
25%      1.5
50%      2.0
75%      2.5
max      3.0
Name: num_occurrences, dtype: float64

In [16]:
# Use describe() on Polars DataFrame
df_pl["num_occurrences"].describe()

shape: (9, 2)
┌────────────┬───────┐
│ statistic  ┆ value │
│ ---        ┆ ---   │
│ str        ┆ f64   │
╞════════════╪═══════╡
│ count      ┆ 3.0   │
│ null_count ┆ 1.0   │
│ mean       ┆ 2.0   │
│ std        ┆ 1.0   │
│ min        ┆ 1.0   │
│ 25%        ┆ 2.0   │
│ 50%        ┆ 2.0   │
│ 75%        ┆ 3.0   │
│ max        ┆ 3.0   │
└────────────┴───────┘